<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <span class="logo">someSoft</span>
        <nav>
            <a href="/about">About us</a>
            <a href="/blog">Blog</a>
        </nav>
    </header>
    <main>
        <h1>Main page</h1>
        <div>
            <p>Recived data:</p>
            <p>Name: <b><%= name %></b></p>
            <p>Id: <b><%= id %></b></p>
        </div>
    </main>
    <aside>
        <h2>Information</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, necessitatibus!</p>
    </aside>
    <footer>All rights reserved &copy;</footer>
</body>
</html>